
.ss__input{
    border: 2px solid #000!important;
    border-radius: 40px!important;
    background: none!important;
    position: relative;
    z-index: 10;
    min-width: 300px;
    min-height: 20px;
    padding:10px 40px 10px 15px!important;
    outline: none!important;
    box-shadow: none!important;
}

.ss__button img{
    width: 24px;
    height: 24px;
    position: relative;
} 
.ss__button{
    border:none;
    background: none;
    padding: 0!important;
    margin-left: 0!important;
    position: relative;
    z-index: 11;
    left: -40px;
    top:-2px;
}

.ss__button:hover, .ss__button:focus{
    background: none;
}

.error-message{
    padding-left: 15px;
}
/**/
.ss__search-box {
    margin-bottom: 15px;
    position: relative;
}
.ss__search-box-wrp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.ss__item-wrp {
    margin-bottom: 15px;
}

.ss__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.ss__wrapper.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.ss__wrapper.grid .ss__item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

.ss__grid-toogle {
    float: right;
}